.modal{
    display: none;
  position: fixed;
  z-index: 1; 
  left: 0%;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modalVisible{
    display :block;
    position: fixed;
    z-index: 1; 
    left: 0%;
    top: 0;
    width: 100%; 
    height: 100%; 
    /* margin-bottom: 20px; */
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
/* .CloseICon{
    position: absolute;
    left: 2%;
    top: 4%;
    cursor: pointer;
} */
.MainTitle{
    display: flex;
    border: 1px solid blue;
}
.ModalMainDiv{
    position:absolute;
    margin: auto;
    width: 915px;
    /* height: 580px; */
    top: 8%;
    left: 20%;
    /* bottom: 2%; */
   
    /* padding: 30px; */
    /* margin-top: 60px; */
    background: #FFFFFF;
    /* border-top-right-radius:25px ;
    border-bottom-left-radius:25px ;   */
}


.ModalTitleDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
margin: 10px 20px -10px 20px;

}
.ModalTitleDiv>h2{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
}
.InputDiv{
    width: 90%;
    margin: auto;
}
.InputDiv>label{
display: block;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
margin-top: 10px;
}
.InputDiv>select{
    width: 832px;
    height: 40px;
    
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-top: 10px;
}
.AddresstextArea{
    width: 100%;
    height: 82px;
    margin-top: 10px;
}
.InputDiv>div>div>label{
    font-family: 'Poppins';
    /* display: inline-block; */
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
   
    }
    .InputDiv>div{
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .InputDiv>div>div>input{
        width: 100%;
        height: 40px;
    margin-top: 10px;

    }
    .InputDiv>div>div>select{
        width: 265px;
        height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 4px;
    }
.inputLarge{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}


.ModalMainDiv>button{
height: 64px;
display: block;
width: 360px;
margin: auto;
margin-top: 50px;
margin-bottom: 20px;
background: #2A3A8F;
border-radius: 16px;
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
cursor: pointer;
color: white;
}
